
.conteiner{
    width: 100vw;
    height: 100vh;
    display: flex;
}
.navbar{
    height: 40px;
    width: 100%;
    background-color: aqua;
    border: solid 3px black;
}
.lef{

}
.right{

}
.card-conteine{

}
.moda{

}